
body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    font-family: Arial, sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 100px auto 0;
    max-width: 1200px;
    padding: 0 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    height: 250px;
    width: calc(25% - 1rem);
    max-width: 300px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.card h2 {
    margin: 0;
    font-size: 1.25rem;
}

.card h3 {
    margin: 0;
    font-size: 1rem;
}

.card span {
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.card button {
    background-color: white;
    border: none;
    color: blue;
    border: 1px solid blue;
    padding: 10px 30px;
    width: 70%;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
    color: white;
}

.react-tabs__tab-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: none; 
    border-bottom: none;
}

.react-tabs__tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    margin-right: 4px;
    border-radius: 4px;
    box-shadow: none; /* Remove box-shadow */
    border-bottom:none;
}

.react-tabs__tab--selected {
    border-bottom: 2px solid blue;
    font-weight: bold;
    box-shadow: none; 

}

.react-tabs__tab--disabled {
    cursor: not-allowed;
    box-shadow: none; 
    border-bottom: none;/* Remove box-shadow */
}

.react-tabs__tab-panel {
    padding: 20px;
    box-shadow: none; 
    border-bottom: none;/* Remove box-shadow */
}

@media (max-width: 1200px) {
    .card {
        width: calc(33.33% - 1rem);
    }

    .react-tabs__tab-list {
        justify-content: space-between;
    }

    .react-tabs__tab {
        flex: 1;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .card {
        width: calc(50% - 1rem);
    }

    .react-tabs__tab-list {
        flex-direction: column;
    }

    .react-tabs__tab {
        width: 100%;
        text-align: left;
        padding: 8px 16px;
    }
}

@media (max-width: 600px) {
    .card {
        width: calc(100% - 1rem);
    }

    .react-tabs__tab-list {
        flex-direction: column;
    }

    .react-tabs__tab {
        width: 100%;
        text-align: left;
        padding: 8px 16px;
    }
}
